.about-container {
  background-image: url("../../assets/images/wave.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
}
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-family: "Merriweather", serif;
  font-size: 2rem;
  font-weight: 800;
  color: #212121;
  margin-bottom: 30px;
}

.card-row {
  width: 100%;
  margin: 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  border-radius: 15px;
  background-color: #fff;
  margin: auto;
  text-align: center;
  margin-bottom: 60px;
}
.card-image {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.card-title {
  color: #212121;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 10px;
  padding: auto 4px;
}

.card-description {
  color: grey;
  padding-bottom: 20px;
  font-size: 1rem;
  font-weight: 500;
  padding: auto 4px;
}
