[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.0.1"
mysql-connector-python = "==8.0.26"
jsons = "==1.5.1"

[dev-packages]

[requires]
python_version = "3.9"
